@import "result";
@import "mixins.css";
@import "varabel.css";

#gift {
  background: #FFFFFF;

  .gift {
    display: flex;
    align-items: center;
    justify-content: space-around;

    &--title {
      h1 {
        padding: 20px 10px;
        font-size: 30px;
        text-transform: uppercase;
        color: #232323;

        span {
          color: #EDD713;
        }

      }

      &__block {
        display: flex;
        align-items: center;
        padding: 20px 10px;

        img {
          margin: 0 10px;
        }

        p {
          font-size: 22px;
          line-height: 140%;
          color: #232323;
        }
      }

      &__timer {
        display: flex;
        align-items: center;
        &--play {
          display: flex;
          align-items: center;
          width: 300px;
          height: 70px;
          background: linear-gradient(180deg, #FFF667 0%, #F5E934 100%);
          margin: 10px 20px;

          img {
            margin: 10px 20px;
          }

          p {
            font-size: 18px;
            line-height: 23px;
            text-align: center;
            letter-spacing: 0.1em;
            text-transform: uppercase;
            color: #181818;

          }
        }
        &--who{
          width: 150px;
          height: 60px;
          background: #FFFFFF;
          box-shadow: 0 4px 10px rgba(86, 86, 86, 0.16);
          border-radius: 15px;
          h4{
            font-size: 40px;
            line-height: 53px;
            color: #2C2C2C;
            text-align: center;
          }
        }
      }
    }


    &--img {
      img {
        width: 700px;
        height: 700px;
      }
    }
  }
}